#menu__toggle {
    /* display: none; */
    opacity: 0;
    position: fixed;
    top: 20px;
    left: 26px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 5;
    /* border: green 1px solid; */
    
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;

  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  /*  When checked\toggled display .menuBox*/
  #menu__toggle:checked ~ .menuBox {
    /* left: 0 !important; */
    /* left: 0; */
    display: block;
  }

  
  .menu__btn {
    position: fixed;
    top: 20px;
    /* left: 20px; */
    left: 26px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 3;

    /*These 2 below work together with ".menu__btn > span::after {background-color..."  */
     mix-blend-mode:screen;/*difference*/ 
     /* color: rgb(53, 51, 47); */
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 6px;
    /* background-color: rgba(180, 162, 104, 0.658); */
    /*mix-blend-mode: difference;*/
    /*#4d451edc c0b166dc  rgba(65, 53, 17, 0.658)*/
    /*mix-blend-mode: normal;/*this will only work with a parent.*/
    
    background-color: rgb(176, 151, 71);

    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -6px;  }
  .menu__btn > span::after {
    content: '';
    top: 6px;  }


    /* Temporarily enable !!!! */
  .menuBox {
    display: none;/*none / block*/
    position: fixed;
    /* top: -145vh; */
    left: 20px;
    width: 220px;
    /* height: 318px; */
    margin: 0;
    padding: 50px 0;
    border-radius:15px;
    list-style: none;
    background-image: linear-gradient(to top, rgba(65, 53, 17, 0.658) , rgba(44, 31, 11, 0.384));
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3 );
    z-index: 2;
    /* hide blue active btn on touchscreen */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
  }
  
  .menu__aItem{
    display: block;
    padding: 8px 20px;
    margin: 0;
    color: #b5ae8d;/*b5ae8d*/
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Instrument Serif', serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    /* transition:  0.25s ease-out; */
    cursor: pointer;
  }

  
  #subMBtn4Email{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
  }

  #copyCopiedBtn{
    text-align: center;
    align-items: center;
    border-radius: 10px;
    width: 70%;
    margin-bottom: 4px;
    padding: 3px 2px;
    color: #b5ae8d; 
    background: #9c7a0a;
    box-shadow:inset 1px 1px 15px #522501ba;
  }

  /* .copyCopiedBtn:active { 
    background-color: rgb(156, 81, 10);
  }
  .copyCopiedBtn:active ::after { 
    background-color: rgb(99, 49, 3);

#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  } */

  /*after active state below using JS to keep
  background color the same
  */ 
  #copyCopiedBtn:active{ 
    background: #9c510a;
  }
  
  

 
    /* change color on hover */
    .menu__aItem:hover,.menu__item_P:hover,.menu__item_C:hover {
      background-color: #ca913b34; 
      color: #b7916c;
      transition: 0.25s ;
    }



  /*Initially hide listItem*/
   .listItem{
    display: none; 
    /* padding: 1rem; */	
  }

  /* .subMenuBtn1,.subMenuBtn2, */
   .listItem.active{
    display: block; /* block / none */	
    /* padding: 1rem; */
    /* padding: 8px 20px; */
    margin-bottom: 2px;
    background-color: #30211297; 
    opacity: 0;/* HIDE initial animation.. */
    border-radius: 15px;
    animation: fade_in_2 calc(0.07s*5) cubic-bezier(.14,.18,.16,1.02)forwards ;
  }

.menuBoxAnimate .listItem:nth-of-type(1) {animation-delay: 0.00s;}
.menuBoxAnimate .listItem:nth-of-type(2) {animation-delay: 0.05s;}
.menuBoxAnimate .listItem:nth-of-type(3) {animation-delay: 0.10s;}
.menuBoxAnimate .listItem:nth-of-type(4) {animation-delay: 0.15s;}
.menuBoxAnimate .listItem:nth-of-type(5) {animation-delay: 0.20s;}
@keyframes fade_in_2 {
	from {
		opacity: 0%;
		transform: translateX(-100%) scale(0%);
	}
	to {
		opacity: 100%;
		transform: translateX(0%) scale(100%);
	}
}


  

	



	
 


	
/* Change this in order to change the Dropdown symbol */
/* li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; } */



   /* @media (hover: hover) and (pointer: fine){  */
   /* .onclick-menu-content:focus .menu__item_sub:hover{
    border:2px rgb(181, 229, 255) solid;
    box-shadow:inset 1px 1px 15px #7bf7f7;
    transition: all 0.2s ease-out;
    } */
  /* } */


    /* #menu__item_sub1:active{
      border:1px #7bf7f7 solid;
      box-shadow:inset 0px 0px 25px #ffffff;
     } */

/* 
 .onclick-menu-content  .menu__item_sub:after{ 
    color: rgb(0, 162, 255);
    transform: translateX(0px);
    transition:  ease-out 0.91s;
    pointer-events: none;
  } */
      
   
  /* .onclick-menu:focus  */
  /* .onclick-menu:focus .onclick-menu-content:focus .menu__item_sub:after { 
    animation: fadeOut 2s;
      }
  .onclick-menu:focus .onclick-menu-content:focus .menu__item_sub:active:after { 
    color:red;
       transition: 2s;
      } */

 
  /* animation: fadeOut 2s; */
  /* @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
} */
   

  

/* ------------------Button For Animations---------------------- */
/* ------------------Button For Animations---------------------- */
/* ------------------Button For Animations---------------------- */

  #animatemeid_Btn,.circTxt{
    display: none;         /*none / flex*/
    justify-content:center; 
    /* position:relative; */
    position:fixed;
    left: 80vw;
    top:5px;
    height: 47px;
    width: 45px;
    border-radius: 100%;
    padding-left: 8px;
     /* text-align: center; */
     text-decoration: none;
      font-family:Georgia, 'Times New Roman', Times, serif;
     font-size: 13px;
     border: none;
     /* box-shadow: inset 0 0px 2px 6px hsla(0,0%,0%,.2); */



     /* box-shadow: 15px 18px 15px rgba(0, 0, 0, 0.1); */
     transition: all 0.1s ease 0s;
     cursor: pointer;
     outline: none;

     /* hide blue active btn square on touchscreen */
     -webkit-tap-highlight-color: rgba(0,0,0,0);
     -webkit-tap-highlight-color: transparent;

     /*color:#bfc5c5;*/  /* Must be left out for class toggling*/
    
    z-index: 5;}
 .animatemeCl_BtnOff{
  color:#bfc5c5;
  background-color: #9394a0ba;
  box-shadow: 
  inset 0 0px 2px 2px #5e5f725e,
  inset 0 0px 2px 4px #5e5f725e,
  inset 0 0px 2px 6px #9394a0ba,
  inset 0 0px 2px 8px #9394a0ba;}
 .animatemeCl_BtnOn{
  color:rgb(88, 167, 231);
  background-color: #2b7ea8b6;
  box-shadow: inset 0 0 2px 2px hsla(190, 98%, 49%, 0.502),
  inset 0 0 2px 4px hsla(223, 98%, 49%,.2),
  inset 0 0 2px 6px hsla(223, 99%, 41%, 0.425),
  inset 0 0 1px 7px hsla(249, 81%, 26%, 0.685),
  inset 0 5px 15px 7px hsla(249, 97%, 15%, 0.726),
  inset 0 -4px 2px 3px hsla(0,0%,0%,.5),
  inset 0 1px 1px 7px hsla(0,0%,100%,.25),
  inset 0 -30px 30px hsla(0,0%,0%,.1),
  inset 0 30px 30px hsla(0,0%,0%,.2);}
/* inset 0 0 2px 2px hsla(190, 98%, 49%, 0.502), */
#animatemeid_Btn:active{
  box-shadow: inset 0 0 2px 2px hsla(190, 88%, 62%, 0.9),
              inset 0 0 2px 4px hsla(223, 98%, 49%,.2),
              inset 0 0 2px 6px hsla(223, 99%, 41%, 0.425),
              inset 0 0 1px 7px hsla(249, 81%, 26%, 0.685),
              inset 0 5px 15px 7px hsla(249, 97%, 15%, 0.726),
              inset 0 -4px 2px 3px hsla(0,0%,0%,.5),
              inset 0 1px 1px 7px hsla(0,0%,100%,.25),
              inset 0 -30px 30px hsla(0,0%,0%,.1),
              inset 0 30px 30px hsla(0,0%,0%,.2);}



  #animatemeid {
    /* display: flex;  */ /* Must be left out for class toggling to work..*/
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* z-index: -1; */ }
  .animatemeCL_Off{display: none;/*none / flex*/}
  .animatemeCL_On{display: flex;/*none / flex*/}
  
  .bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: 10; */ }
  .bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #353535;
    bottom: 60px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    opacity:0;}
  
  .bg-bubbles li:nth-child(1) {
    left: 13%;
    border-radius:50em;
    background:transparent;
    border:4px solid #353535; }
  
  .bg-bubbles li:nth-child(2) {
    left: 36%;
    width: 75px;
    height: 75px;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
    -webkit-animation-duration: 17s;
            animation-duration: 17s;}
  .bg-bubbles li:nth-child(3) {
    left: 75%;
    width: 175px;
    height: 175px;
    -webkit-animation-delay: 8s;
            animation-delay: 8s;}
  @-webkit-keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity:0;
     }
    50% {
      opacity:1;
    }
    100% {
      -webkit-transform: translateY(-700px) rotate(600deg);
              transform: translateY(-700px) rotate(600deg);
      opacity:1;
    }
  }
  @keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity:0;
    }
    50% {
      opacity:1;
    }
    100% {
      -webkit-transform: translateY(-700px) rotate(600deg);
              transform: translateY(-700px) rotate(600deg);
      opacity:0;
    }
  }