 
 /* To improve page loading times, lets upload it directly in a file..:*/
 @import url('rubik457800NormalFonts.css');/* importing local file rubik rubik457800NormalFonts.css*/
 @import url(./menu&ShapesBtn.css);/*Menu burger and Shapes button..*/
 @import url(./ScrollfadeInOut.css);/*On Scrolling fade containers in and out....*/
 /* font-family: 'Rubik', sans-serif; */
 
 /*Reset all inherited values to 0.*/
 *{box-sizing:border-box; margin:0;padding:0;}
 
 

#resizeInnerW,#resizeInnerH{/*disable before release...*/
    display:flex; /* none\flex */
    position:absolute;
    justify-content:left;
    top:0vh; 
    z-index:100;
    color:rgb(250, 250, 26);
  }
  #resizeInnerH{left: 150px; }

  body{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 1280px;
    width: 100%;
    min-width: 310px;
    max-width: 100vw;
    /* background: #dddee1; */
    background-color: #99999c;
    /* overflow: hidden; */
    overflow-x: hidden;
    /* border: red 1px solid; */
  }
  main{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #bkGndDiv{
    display: flex;
    position: relative;
    /* justify-content:center; */
    /* align-items: center; */
    /* top: -100px; */
    /* z-index:-2;  */
    /* width:100%; */
    /* height:100%; */
     /* background-image: url("./images/giraffes_mobile_emb.jpg");   */
    /* background-size:contain; */
    /* background-position: center; */
    /* background-repeat: no-repeat;  */
    }
    #bkGndImg{
      display: flex;
      position: fixed;
      /*top: -40%;  /* -10%  --clip the top of the pic*/
      /* height: 100%; */
      bottom: 0dvh;
      width:100vw;
      
    }
    /*700px or more required for Desktops...*/
    /* @media (min-width:700px){
      #mainPage{  height: 100%;  align-items:center;   }
    }   */
    /* @media (min-height:660px){
      #bkGndImg{top: -50%; }
    } */
   
  
  .ctr0{
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position:relative;
    /* height: 96vh; */
    height: 1266px; /*1257px - works with body height..*/
    /* width: 98%; */
    /* Use https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_backgrounds_and_borders/Border-image_generator */
    border-image-slice:0 30 0 19;
    border-image-width: 0px 15px 0px 15px;
    border-image-outset:0px 0px 0px 0px;
    border-image-repeat:round round ;
    border-image-source:url(./images/footprints1837-LRc.png);
    border-style:solid;
}
.ctr0_ctr1{/* & scrlfInfOutCl*/
  display: flex;
  position:relative;
  flex-direction: column;
  /* justify-content: center; */
  top:94svh;/*dvh bounces..*/
  /* height: 150px; */
  width: 86vw;/*95%*/
  background-color: rgba(92, 92, 99, 0.89);
  border: solid rgb(166, 135, 63) 1px;  /*solid rgb(75, 59, 23) 2px linear-gradient(90deg,rgba(102, 99, 92, 0.511),rgb(167, 164, 156),rgb(102, 99, 92)); */
  padding: 5px;
  border-radius: 10px;
  opacity: 40%;
}
.ctr1_H2{
  display: flex;
  /* justify-content: center; */
  color:rgb(181, 177, 157);
}
.ctr1_pgrC{
  display: flex;
  position:relative;
  justify-content: center;
  color:rgb(186, 181, 158);
   
}
#attribution {
  display: flex;
  position: relative;
  justify-content: right;
  top:-2px;
  /* background-color: rgb(167, 164, 156); */
  background:  linear-gradient(90deg,rgba(102, 99, 92, 0.511),rgb(167, 164, 156),rgb(102, 99, 92));
  /* border: solid rgb(128, 0, 102) 2px;  */
  font-style: italic; 
  font-size: 14px;
   
  padding-right:1vw;
  bottom:0%;
  color: #f3e7aec9} 
 
 